<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.PhoneDoctor"
        tools:targetApi="31">
        <activity
            android:name=".BackCamera"
            android:exported="false" />
        <activity
            android:name=".Wifi"
            android:exported="false" />
        <activity
            android:name=".Vibrate"
            android:exported="false" />
        <activity
            android:name=".Connector"
            android:exported="false" />
        <activity
            android:name=".TouchScreen"
            android:exported="false" />
        <activity
            android:name=".FlashLight"
            android:exported="false" />
        <activity
            android:name=".Screen"
            android:exported="false" />
        <activity
            android:name=".VolumeButton"
            android:exported="false" />
        <activity
            android:name=".PowerButton"
            android:exported="false" />
        <activity
            android:name=".Network"
            android:exported="false" />
        <activity
            android:name=".Microphone"
            android:exported="false" />
        <activity
            android:name=".GPS"
            android:exported="false" />
        <activity
            android:name=".Battery"
            android:exported="false" />
        <activity
            android:name=".Storage"
            android:exported="false" />
        <activity
            android:name=".Gyroscope"
            android:exported="false" />
        <activity
            android:name=".Fingerprint"
            android:exported="false" />
        <activity
            android:name=".CPU"
            android:exported="false" />
        <activity
            android:name=".About"
            android:exported="false" />
        <activity
            android:name=".Receiver"
            android:exported="false" />
        <activity
            android:name=".Bluetooth"
            android:exported="false" />
        <activity
            android:name=".FontCamera"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>